<?xml version="1.0"?>

<launch>
    <node name="semantic_segmentation" pkg="semantic_segmentation" type="semantic_segmentation.py">
        <remap from="/CompressedImage" to="/camera/color/image_raw/compressed" />
        <!-- <remap from="/CompressedImage" to="/grasscam/image_raw/compressed" /> -->
    </node>






    <node pkg="rosbag" type="play" name="play" args="/home/amsl/bag_files/data.bag" />
    <!-- <node pkg="rosbag" type="play" name="play" args="/home/amsl/bag_files/rwrc/2022/kakunin_2022-09-17-14-03-20.bag" /> -->

    <node pkg="rviz" type="rviz" name="rviz" />
</launch>
